.category {
  position: fixed;
  top: 5px;
  right: 10px;
  border-radius: 5px;
  border: 1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 2;
  padding: 0;
}
.placeinfo_wrap {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 310px;
  height: 90vh;
  border-radius: 5px;
  border: 1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 2;
}
.placeinfo {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  align-items: center;
  position: relative;
}
.category li {
  float: left;
  list-style: none;
  width: 50px;
  border-right: 1px solid #acacac;
  padding: 10px 3px;
  text-align: center;
  cursor: pointer;
}
.category li.on {
  background: #eee;
}
.category li:hover {
  background: #ffe6e6;
  border-left: 1px solid #acacac;
  margin-left: -1px;
}
.category li:last-child {
  margin-right: 0;
  border-right: 0;
}
.category li span {
  display: block;
  margin: 0 auto 3px;
  width: 27px;
  height: 28px;
}

.logo {
  position: absolute;
  top: 35px;
  left: 25px;
  width: 40px;
  height: 38px;
}

.window {
  position: fixed;
  top: 10%;
  left: 56%;
  transform: translate(-50%, -50%);
  background-color: #0000008a;
  padding: 30px;
  z-index: 3;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.search-input {
  box-sizing: border-box;
  width: 95%;
  padding: 10px 35px 10px 50px;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 10px;
}

.search-btn {
  background-color: #ffffff00;
  position: absolute;
  top: 44px;
  right: 20px;
  border: 0;
  width: 35px;
  height: 23px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.search-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  background-color: #2e3e4b;
  padding: 30px 10px;
  color: whitesmoke;
}
.flex-row-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
}
