.category {
  position: fixed;
  top: 5px;
  right: 10px;
  border-radius: 5px;
  border: 1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 2;
  padding: 0;
}
.placeinfo_wrap,
.placeinfo_board {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 370px;
  height: 93vh;
  border-radius: 5px;
  border: 1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 2;
}

.map-agencyShow {
  color: lightgray;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 13px;
}
.placeinfo {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0 10px;
  align-items: center;
  position: relative;
}
.category li {
  float: left;
  list-style: none;
  width: 50px;
  border-right: 1px solid #acacac;
  padding: 10px 3px;
  text-align: center;
  cursor: pointer;
}
.category li.on {
  background: #eee;
}

.listItem-div {
  overflow: visible;
  user-select: none;
}

.scroll {
  position: absolute;
  right: 4px;
  top: 0;
  width: 6px;
  margin: 4px 0;
  border-radius: 10px;
  background: #a1a3b3;
  opacity: 0;
  z-index: 5;
  transition: opacity 0.5s, top 0.1s;
}

.pages-div {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.user-login {
  position: fixed;
  top: 80px;
  right: 10px;
  border-radius: 5px;
  border: 1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 2;
  width: 44px;
  cursor: pointer;
  height: 40px;
}

.board-div {
  padding: 15px;
  overflow-y: auto;
  height: 95%;
}

.placeinfo_board {
  left: 400px;
  width: 430px;
}

.boardLi-bottom {
  display: flex;
  margin: 13px 0;
  color: #717171;
  justify-content: space-between;
}

.board-li {
  list-style: none;
  padding: 10px 15px 0px 15px;
  background-color: #f1f1f1;
  margin: 10px 0;
  border-radius: 10px;
}

.reply-div {
  margin: 10px;
  display: flex;
  align-items: flex-start;
}
.login-window {
  opacity: 1;
  top: 120px;
  position: absolute;
  left: calc(50% - 190px);
  margin: 20px auto;
  z-index: 100;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 350px;
  border-radius: 20px;
  flex-direction: column;
}

.terms-div {
  cursor: pointer;
}

.terms-div:hover {
  background-color: lightgray;
  border-radius: 10px;
  padding: 0 8px;
}

.recentItem-div {
  overflow-y: auto;
  height: auto;
  margin-bottom: 15px;
  max-height: 550px;
}

.plinfo-white-div {
  height: 465px;
  overflow-x: hidden;
  overflow-y: auto;
}

.hr {
  height: 7px;
  background-color: #ededed;
  border: 0;
}

.recent-title {
  margin: 15px;
  text-align: center;
  font-size: 18px;
}

.notice-title,
.notice-text {
  font-size: 30px;
  margin: 20px;
  text-align: center;
}

.notice-text {
  font-size: 20px;
  margin-top: 30px;
}

.rev-p {
  margin: 5px;
  color: gray;
  padding-left: 15px;
}

.agency-close {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.back-arrow {
  position: absolute;
  top: 50px;
  left: 45px;
  cursor: pointer;
}

.login-title {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  align-items: center;
  margin: 20px;
}
.login-text,
.sign-text {
  font-size: 25px;
  font-weight: bold;
}
.sign-text {
  font-size: 15px;
  text-decoration: underline;
  margin: 25px;
  cursor: pointer;
}

.login-btn,
.login-btn2 {
  background-color: #33506d;
  border-radius: 20px;
  width: 300px;
  height: 55px;
  font-size: 18px;
  color: whitesmoke;
  border: 0;
  cursor: pointer;
  margin: 10px 0;
}

.login-btn2 {
  background-color: #6d3368;
}

.loginBtns-div {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
}
.authTerm-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.loginBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100;
  opacity: 0.3;
}

.pageNum {
  padding: 5px;
  margin: 0 5px;
  color: gray;
  cursor: pointer;
  font-size: 14px;
}

.pageNum-now {
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

.listItem-result {
  overflow: hidden overlay;
  height: 525px;
}

.board-title {
  margin: 15px;
  font-size: 20px;
}

.addBtn,
.addRevBtn {
  border-radius: 25px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  font-size: 23px;
  border: 0;
  background-color: #6596c1;
  position: fixed;
  left: 770px;
  top: 44px;
  text-align: center;
}

.addRevBtn {
  position: relative;
  left: 315px;
  top: 5px;
}

.rev-li {
  list-style: none;
  margin: 5px 0;
  font-size: 14px;
  letter-spacing: -0.5px;
  padding: 5px 2px 5px 10px;
}

.rev-li:hover {
  background-color: lightgray;
}

.rev-ul,
.rev-ul-nouser {
  height: auto;
  max-height: 200px;
  padding: 0;
  overflow-y: auto;
}

.rev-ul-nouser {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 애니메이션 효과 설정 */
@keyframes fadeOutScrollbar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.boardLi-text,
.boardLi-title {
  overflow: hidden;
  word-break: break-all;
}

.textShowMore {
  color: gray;
  margin-left: 20px;
  cursor: pointer;
}
.boardLi-text {
}

.boardLi-title {
  margin: 7px;

  font-size: 18px;
}
.listItem-li {
  list-style: none;
  padding: 5px 20px;
}

.listItem-li:hover {
  background-color: lightgray;
  cursor: pointer;
}
.nameH5 {
  font-size: 16px;
  margin: 5px 0px;
}
.text-gray {
  color: dimgray;
  font-size: 14px;
}

.category li:hover {
  background: #ffe6e6;
  border-left: 1px solid #acacac;
  margin-left: -1px;
  color: black;
}
.category li:last-child {
  margin-right: 0;
  border-right: 0;
}
.category li span {
  display: block;
  margin: 0 auto 3px;
  width: 27px;
  height: 28px;
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 40px;
  height: 38px;
}

.window {
  position: fixed;
  top: 10%;
  left: 56%;
  transform: translate(-50%, -50%);
  background-color: #0000008a;
  padding: 30px;
  z-index: 3;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.terms-area {
  padding: 30px;
  overflow-y: scroll;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.terms-check {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.search-input {
  box-sizing: border-box;
  width: calc(103% - 30px);

  padding: 10px 35px 10px 50px;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 10px;
}

.email-input {
  box-sizing: border-box;
  width: 95%;
  padding: 10px;
  height: 40px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 10px;
  margin: 5px 0;
}

.login-form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.search-btn {
  background-color: #ffffff00;
  position: absolute;
  top: 35px;
  right: 20px;
  border: 0;
  width: 35px;
  height: 23px;
  cursor: pointer;
}

.nowCategory-clicked {
  background-color: #2e3e4b;
  color: whitesmoke;
}

.nowCategory {
  background-color: white;
  color: black;
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; /* 각 셀 사이의 간격 설정 */
  margin: 15px 0 5px 0;
}

.grid-item {
  background-color: white;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-div {
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100% - 15px);
  background-color: #2e3e4b;
  padding: 20px 10px;
  color: whitesmoke;
}
.flex-row-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
}

.ratingOver-div {
  position: absolute;
  background-color: #ffffffdf;
  width: 350px;
  left: 10px;
  top: 200px;
  z-index: 50;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
